.normal>.swiper-pagination{
    display: flex;
    flex-direction: row;
    justify-content:center;
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    padding:0.65rem 0.75rem;
    border-bottom-left-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    user-select: none;
}

.swiper-fullscreen>.swiper-pagination{
    display: block;
    position: absolute;
    padding:1rem;
    bottom:0;
    user-select: none;
    left:50%;
    transform:translateX(-50%);
    background-color: hsl(var(--primary));
    color: hsl(var(--primary-foreground));
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
    z-index: 50;
}
